@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Red+Hat+Text&family=Roboto&family=Russo+One&display=swap');

:root {
  --primary: #010101;
  --primary-text: #f5f5f5;
  --secondary: #f5f5f5;
  --secondary-text: #030303;
  --bordeaux: #802020;
  --blue-ray: #0065f0;
  --boring: #888888;
  --boring-bg: #292929;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x:hidden;
  background:var(--primary);
  color:var(--primary-text);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--bordeaux);
}

::-webkit-scrollbar-thumb:hover {
  background:#502020;
}